#codebox {
    border: 1px solid #2F4F4F;
    padding: 1px;
    background: DarkSeaGreen;   
    background-clip: padding-box;
    color: #2F4F4F;
    }

span.button {
    font-weight: bold;
    font-family: Century, serif;
    font-size: 10pt;
    color: #5F9EA0;
}

*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}

ul {
list-style: none;
}

a {
text-decoration: none;
outline: none;
}

header:after, .container:after, footer:after {
content: "";
display: table;
clear: both;
} 

body {
font-family: 'Open Sans', arial, sans-serif;
font-size: 14px;
line-height: 1;
background: #DCDCDC; /*Цвет фона страницы слева и справа от постов*/
}

header {
width: 100%;
background: #3C3D41; /* Цвет фона верхнего меню*/
box-shadow: 3px 3px 1px rgba(0,0,0,.05);
padding: 15px 0;
margin-bottom: 15px;
position: relative;
}

.container {
margin: 0 auto;
width: 100%;
max-width: 930px; /*Ширина основного блока в полноэкранном режиме*/
padding: 0 15px;
} 

#menu {
float: right;
}
#menu li {
display: inline-block;
margin-right: 30px;
}
#menu a {
color: #BDB76B; /*Цвет текста в меню*/
background: #3C3D41; /*Цвет фона в меню*/
text-transform: uppercase;
/*letter-spacing: 1px;*/
/*font-weight: 600;*/
display: block;
line-height: 30px;
}
#menu a:hover {
color: #F0F8FF; /*Цвет текста выделенного пункта меню*/
}
#menu li:last-child  {
margin-right: 0;
}

.nav-toggle {
display: none;
position: relative;
float: right;
width: 40px;
height: 40px;
margin-left: 20px;
background: #BDB76B; /*Цвет фона гамбургера*/
cursor: pointer;
}
.nav-toggle span {
display: block;
position: absolute;
top: 19px;
left: 8px;
right: 8px;
height: 2px;
background: #3C3D41; /*Цвет средней полосы в гамбургере*/
}
.nav-toggle span:before, .nav-toggle span:after {
content: "";
position: absolute;
display: block;
left: 0;
width: 100%;
height: 2px;
background: #3C3D41; /*Цвет верхней и нижней полосы в гамбургере*/
}
.nav-toggle span:before {
top: -10px;
}
.nav-toggle span:after {
bottom: -10px;
}
#menu.active {
max-height: 123px;
}

.posts-list {
margin-bottom: 15px;
float: left;
background: #F0FFFF; /*Цвет фона постов*/
}
/* блок для статьи */
.post {
margin-bottom: 35px;
color: #3C3D41; /*Цвет текста постов*/
}

.post-content p {
line-height: 1.5;
padding-bottom: 1em;
margin-left: 10px;
margin-right: 10px;
}
.post-image {
margin-bottom: 30px;
}
.category {
margin-bottom: 10px;
margin-top: 10px;
margin-left: 20px;
}
.category a {
color: #8B4513; /*Цвет категорий в блоке*/
text-transform: uppercase;
}
.post-title {
margin-bottom: 12px;
margin-left: 15px;
font-size: 26px;
}
/* блок с кнопкой "Продолжить чтение" */
.post-footer {
border-top: 1px solid #EBEBE3; /*Цвет верхней полосы у кнопки "Продолжить чтение"*/
border-bottom: 1px solid #EBEBE3; /*Цвет нижней полосы у кнопки "Продолжить чтение"*/
position: relative;
margin-top: 15px;
}

.more-link {
position: relative;
display: inline-block;
font-size: 10px;
text-transform: uppercase;
color: white;
line-height: 44px;
padding: 0 22px;
background: #3C3D41;
letter-spacing: 0.1em;
white-space: nowrap;
}
.more-link:after {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
top: 0;
right: 0;
border: solid transparent;
border-width: 22px 18px;
border-left-color: #3C3D41;
transform: translateX(100%);
}

footer {
padding: 25px 0;
background: #3C3D41; /* Цвет фона нижнего колонтитула */
color: red; /*???*/
}
.footer-col {
width: 33.3333333333%;
float: left;
text-align: center;
}
.footer-col a {
color: #BDB76B;
}
.footer-col:last-child {
text-align: center;
}

@media (max-width: 768px) {
/* показываем кнопку для переключения верхней навигации */
.nav-toggle {
display: block;
}

/* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */ 
#menu {
max-height: 0;
background: white;
float: none;
position: absolute;
overflow: hidden;
top: 70px;
right: 0;
left: 0;
margin: 0;
padding: 0;
z-index: 3;
}
/* делаем элементы списка блочными, чтобы они располагались друг под другом */
#menu li {
display: block;
text-align: center;
border-top: 1px solid #EBEBE3;
margin-right: 0;
}
/* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
/*.posts-list {
width: 100%;
float: none;
}*/
}

@media (max-width: 480px) {
/* убираем верхнюю и нижнюю границы и выравниваем кнопку по центру */
.post-footer {
border-top: none;
border-bottom: none;
text-align: center;
}

/* отменяем обтекание для столбцов подвала страницы */
.footer-col {
float: none;
margin-bottom: 20px;
width: 100%;
text-align: center;
}
.footer-col:last-child {
text-align: center;
margin-bottom: 0;
}

.posts-list {
margin-bottom: 15px;
width: 100%;
}
}