#codebox {
    border: 1px solid #2F4F4F;
    padding: 1px;
    background: DarkSeaGreen;   
    background-clip: padding-box;
    color: #2F4F4F;
    }

span.button {
    font-weight: bold;
    font-family: Century, serif;
    font-size: 10pt;
    color: #5F9EA0;
}

p {
    text-indent: 20px;
    }

body {
    font-family: Century, serif;
    font-size:12pt;
    color: #2F4F4F;
    background: Azure;
    }

.mainmenubtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10 px; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    position: fixed;
    display: none;
    background-color: black;
    min-width: 150px;
}

.dropdown-child a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}

.dropdown-child a:hover {
    color: yellow;
    background-color: blue;
    display: block;
}
